body{
    background-color:#696969;
    margin:0;
    padding: 0;
}
.layout{
	display:grid;
	height: 100vh;
	grid-template-columns:250px 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr 1fr 55px;
	grid-template-areas:
	    "nav nav nav nav"
		"sidebar content content content"
		"sidebar content content content"
		"sidebar footer footer footer";
	grid-gap:0.3rem;	
}
nav{
	background-color:black;
	grid-area:nav;
}
#sidebar{
	background-color:silver;
	grid-area:sidebar;
	border:solid black 2px;
	border-radius: 10px;
	margin-left:10px;
}
#sidebar .zero{
	text-align:center;
	margin:4px;
	border:solid 2px black;
}
#sidebar .hero{
	border-top:solid black 5px;
}
#sidebar h1{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
#content{
	background-color:silver;
	grid-area:content;
	border:solid black 2px;
	border-radius:10px;
	margin-right:10px;
}
#content h2{
	text-align:center;
	font-style:italic;
	font-size:30px;
	margin:10px 100px 10px 100px;
	border:solid black 2px;
}
#content p{
	border-top:solid black 5px;
}
footer{
	background-color:silver;
	grid-area:footer;
	border:solid black 2px;
    border-radius:10px;
    margin-right:10px;
}
footer p{
	font-size:20px;
	text-align:center;
	font-style:italic;
}
 nav{
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height:95px;
}
nav .aka{
	float: left;
	width: 40%;
	height:100%;
	display: flex;
	align-items: center;
	font-size:40px;
	color:white;
	font-weight: bold;
	font-style: italic;
}
nav .whole{
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .whole li{
	list-style: none;
}
nav .whole a{
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
#nav-toggle{
	position: absolute;
	top: -100px;
}
nav .burgericon {
    display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .burgericon span{
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px;
	background-color: gold;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width : 500px){ 
    nav .aka {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .whole {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .whole a {
		font-size: 20px;
	}
	nav :checked ~ .whole {
		bottom: 0;
	}
	nav .burgericon {
		display: block;
	}
	nav :checked ~ .burgericon span:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .burgericon span:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .burgericon span:nth-child(2) {
		opacity: 0;
	}	
}
