body{
    background-color:white;
    margin:0;
    padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
nav{
	background-color:black;
}
nav{
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height:95px;
}
nav .aka{
	float: left;
	width: 40%;
	height:100%;
	display: flex;
	align-items: center;
	font-size:40px;
	color:white;
	font-weight: bold;
	font-style: italic;
}
nav .whole{
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .whole li{
	list-style: none;
}
nav .whole a{
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-family: 'Alegreya Sans', sans-serif;
}
nav .whole li a:hover{
	background-color:green;
}
#nav-toggle{
	top: -100px;	
    display:none;	
}
nav .burgericon {
	display:none;
    float:right;
	margin:-50px -5px 20px 0px;
	transform: translateY(-50%);
}
nav .burgericon span{
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px;
	background-color: gold;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
.layout{
	margin-top:95px;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:0.5fr 7.75fr 0.8fr;
	grid-template-areas:
	"sidebar"
	"content"
	"footer";
}
#navit{
	grid-area:sidebar;
	background-color:aliceblue;
	border-bottom:solid grey 2px;
}
#navit .one{
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#navit .one li{
	list-style:none;
}
#content{
	grid-area:content;
	background-color:mintcream;
}
#content h1{
	font-size:30px;
	font-weight:bold;
	word-spacing:4px;
	float:left;
	margin:100px 0px 0px 100px;
}
#content p{
	float:left;
	margin:20px 400px 20px 100px;
}
#content .jjjk{
	margin:20px 0px 0px 100px;
}
#content .mybtn{
	float:left;
	font-style:italic;
	background-color:green;
	border:none;
    color: white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
	margin-left:100px;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
	border-radius: 8px;
	animation-name:huhu;
	animation-duration:4s;
	animation-iteration-count: infinite;
}
@keyframes huhu{
	0%{background-color:green;}
	25%{background-color:lime;}
	50%{background-color:lightblue;}
	75%{background-color:skyblue;}
	100%{background-color:navy;}
}
footer{
	grid-area:footer;
	background-color:palegreen;
	border-top:solid lightgreen 2px;
	text-align:center;
}
.lays{
	margin-top:95px;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:0.8fr 9fr 9fr 1fr;
	grid-template-areas:
	"bar"
	"place"
	"init"
	"foot";
}
#view{
	grid-area:bar;
	background-color:aliceblue;
	border-bottom:solid grey 2px;
}
#view .kirito{
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#view .kirito li{
	list-style:none;
}
#dle{
	grid-area: place;
	background-color: mintcream;
}
#dle h4{
	font-size:30px;
	font-weight:bold;
	word-spacing:4px;
	float:left;
	margin:100px 0px 0px 50px;
}
#dle p{
	float:left;
	margin:30px 50px 10px 50px;
}
#dle .ppk{
	margin:20px 0px 0px 100px;
}
#dle{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
#dle .vidd{
	background-color: white;
}
#dle .orig{
	margin:60px 0px 0px 200px;
	background-color: navy;
	width: 15rem;
	color: white;
	height: 20rem;
	border:none;
	border-radius: 5px;
	box-shadow: 2px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#dle .hokk{
	text-align: center;
	margin:4rem 2rem 0px 2rem ;
}
#dle .hisss{
	background-color: #6960EC;
	margin-top: 2rem;
	margin-left: 4rem;
	width:7rem;
	height: 3rem;
	border:none;
	border-radius: 4px;
	color: white;
}
#dle .orig:hover{
	box-shadow: 3px 3px lime;
}
#dle .hisss:hover{
	box-shadow: 2px 2px lime;
}
#dle .ourbtn{
	float:left;
	font-style:italic;
	background-color:green;
	border:none;
    color: white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
	margin-left:100px;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
	border-radius: 8px;
	animation-name:buhu;
	animation-duration:4s;
	animation-iteration-count: infinite;	
}
@keyframes buhu{
	0%{background-color:green;}
	25%{background-color:lime;}
	50%{background-color:lightblue;}
	75%{background-color:skyblue;}
	100%{background-color:navy;}
}
#slc{
	grid-area:init;
	background-color:mintcream;
}
#slc{
	display:grid;
	grid-gap: 50px;
	padding:20px;
	grid-template-columns: repeat(3, 1fr);
}
#slc .pole{
	background-color: mintcream;
}
#slc .unique{
	background:navy;
	height:230px;
	width:200px;
	border:none;
	margin-left:40px;
	text-align:center;
	color:white;
	border-radius:5px;
	box-shadow: 2px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#slc .rare{
	background:navy;
	height:230px;
	width:200px;
	margin-left: 40px;
	border:none;
	text-align:center;
	color:white;
	border-radius:5px;
	box-shadow: 2px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#slc .epic{
	background:navy;
	height:230px;
	width:200px;
	margin-left: 40px;
	border:none;
	text-align:center;
	color:white;
	border-radius:5px;
	box-shadow: 2px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
#slc h1,h2,h3{
	font-size: 20px;
	margin-left:40px;
}
#slc .astra{
	text-align: center;
}
#oli{
	grid-area:foot;
	background-color:palegreen;
	border-top:solid lightgreen 2px;
	text-align:center;
}
.kurisu{
	margin-top:95px;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:0.8fr 16fr 1fr;
	grid-template-areas:
	"makise"
	"nakano"
	"uesugi";
}
#okabe{
	grid-area:makise;
	background-color:aliceblue;
	border-bottom:solid grey 2px;
}
#okabe .rintaro{
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#okabe .rintaro li{
	list-style:none;
}
#miku{
	grid-area: nakano;
	background-color: mintcream;
}
#miku{
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas: 
	"nino nino"
	"ichika itsuki";
}
#miku .miku1{
    grid-area: nino;
}
#miku .nischal{
	float: left;
	margin-top: 20px;
	background:#ceffe6;
	height:160px;
	width:140px;
	border:solid silver 2px;
	margin-left:40px;
	text-align:center;
	color:white;
	border-radius:5px;
	animation-name:juju;
	animation-duration:5s;
}
@keyframes juju{
	from{background-color:#ceffe6;}
    to{background-color:navy;}
}
#miku .tamang{
	float: left;
	margin-top: 3.5rem;
	margin-left:7rem;
	font-size: 18px;
}
#miku .miku2{
   grid-area: ichika;
   border-right:solid 2px silver;
   border-top:solid 2px silver;  
   background-color: navy;
   color: white;
}
#miku .joro{
	font-weight: normal;
	padding-left: 1rem;
	font-size: 25px;
}
#miku .sansoquin{
	height:3rem;
	padding-top: 0.5rem;
	padding-left: 1rem;
	background-color: purple;
}
#miku .holes{
	height:3rem;
	padding-top: 0.5rem;
	padding-left: 1rem;
	background-color: purple;	
}
#miku .miku3{
	grid-area: itsuki;
}
#miku .sumire{
	border-bottom: solid silver 2px;
	border-top: solid silver 2px;
	margin-left: 15px;
	margin-right: 15px;
}
#miku .mon{
	float: left;
	padding-left: 15px;
	width:10rem;
}
#miku .biu{
	float: left;
}
#miku .dator{
	font-weight: bold;
	list-style: none;
}
#miku .girl{
	clear: left;
	float: left;
	padding-left: 15px;
	width:10rem;
}
#miku .man{
	float: left;
}
#miku .valid{
	font-weight: bold;
	list-style: none;	
}
#miku .xquest{
    clear:left;
    border-bottom: solid silver 2px;
    border-top: solid silver 2px;
	margin:20px 15px 0px 15px;
	font-size: 20px;
}
#miku .berry{
    float:left;
    padding-left: 15px;
	width:10rem;
}
#miku .cherry{
    float:left;
    margin-left:1.5rem;
}
#miku .terry{
	clear: left;
    float:left;
    padding-left: 15px;
	width:10rem;
}
#miku .ferry{
    float:left;
    margin-left:1.5rem;
}
#miku .scar{
	clear: left;
    float:left;
    padding-left: 15px;
	width:10rem;
}
#miku .m4{
    float:left;
    margin-left:1.5rem;
}
#fuutaro{
	grid-area:uesugi;
	background-color:palegreen;
	border-top:solid lightgreen 2px;
	text-align:center;
}
.freeze{
	margin-top:95px;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:0.5fr 7.75fr 0.8fr;
	grid-template-areas:
	"star"
	"final"
	"foor";
}
#pana{
    grid-area:star;
	background-color:aliceblue;
	border-bottom:solid grey 2px;
}
#pana .cal{
	text-align: center;
	font-size: 20px;
}
#sonic{
    grid-area:final;
	background-color:mintcream;
}
#sonic{
    display: grid;
	grid-template-columns: 1.4fr 3fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"seiya megami"
}
#sonic .tape1{
	grid-area:seiya;
	background-color:#151B8D;
	color: white;
	border:solid;
	border-radius: 5px;
	padding-left: 2rem;
	padding-top: 0.5rem;
}
.tape1 tr td:first-child{
	padding-right:3rem;
}
tr td{
	padding-top: 1rem;
}
#sonic .tape2{
	grid-area: megami;
	padding: 2rem;
	background-color: white;
    border:solid white;
	border-radius:5px;
}
#sonic .smart{
	display: flex;
	justify-content: space-between;
}
.smart .smart1{
	flex-basis: 45%;
}
#sonic input{
	width: 100%;
	margin-bottom: 1.5rem;
	box-sizing: border-box;
	border:none;
	border-bottom: solid 2px silver;
	outline: none;
}
#sonic .bake{
	display: flex;
	width:45%;
}
#sonic textarea{
	width: 100%;
}
#sonic label{
	margin-bottom: 5px;
	display: block;
	color: navy;
}
#sonic .hype{
	width: 120px;
    height: 40px;
    background-color:#151B8D;
    border:none;
    border-radius: 4px;
    color: white;
}
#cello{
	grid-area:foor;
	background-color:palegreen;
	border-top:solid lightgreen 2px;
	text-align:center;
}
@media screen and (max-width : 600px){
	#dle{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	}
    #slc{
    	display: grid;
    	padding: 16px;
    	grid-template-columns: repeat(1, 1fr);
    }
    #view{
    	height:50%;
    }
	#dle h4{
		margin:1rem;
		font-size: 20px;
	}
	#dle p{
	    margin:1rem;
	}
	#dle .orig{
        margin:0px 2rem 0px 2rem;
	}
	#sonic{
    	display: grid;
    	padding: 16px;
    	grid-template-columns:1fr;
    	grid-template-rows: 1fr 2fr;
    	grid-template-areas: 
    	"seiya"
    	"megami"
    }
    #sonic .tape1{
    	grid-area: seiya;
    }
    #sonic .tape2{
    	grid-area: megami;
    }
    .tape1 tr td:first-child{
	padding-right:1rem;
    }
    tr td{
	padding-top: 0.5rem;
    }	
    nav .aka {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .whole {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .whole a {
		font-size: 20px;
	}
	nav :checked ~ .whole {
		bottom: 0;
	}
	nav .burgericon {
		display: block;
	}
	nav :checked ~ .burgericon span:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .burgericon span:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .burgericon span:nth-child(2) {
		opacity: 0;
	}
	#navit{
		width:100vw;
	}
	#content{
		width:100vw;
	}
	#content h1{
		margin:15px 0px 8px 4px;
		font-size:20px;
	}
	#content p{
		margin:0px 10px 0px 4px;
		font-size:15px;
		padding:5px;
	}
	#content .jjjk{
		margin:15px 0px 0px 4px;
	}
	footer{
		width:100vw;
		font-size:15px;
	}
    .layout{
		margin-top:95px;
	}
	#miku .nischal{
    	margin-top:0px;
    	margin-left:0px;
    	height: 120px;
    	width: 90px;
    }
    #miku .tamang{
    	font-size: 15px;
    	margin:1rem;
    }
}
